@import "../../constants/css-colors.css";

.stateWideData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.stateWideData button {
  text-align: center;
  display: block;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  border: none;
  background-color: transparent;
  transition: all 0.5s;
}

.name {
  font-size: 1.1rem;
}

.icon {
  margin: -10px;
}

.value {
  font-size: 1.5rem;
  font-weight: 500;
}

.confirmed {
  color: var(--confirmed-color);
}

.confirmed.current {
  background-color: #331427;
}

.active {
  color: var(--active-color);
}

.active.current {
  background-color: #132240;
}

.recovered {
  color: var(--recovered-color);
}

.recovered.current {
  background-color: #182829;
}

.deceased {
  color: var(--deceased-color);
}

.deceased.current {
  background-color: #212230;
}
